*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    max-width: 550px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.top-title-box{
    padding: 28px 18px;
}
.top-title-box>h1{
    color: hsl(179, 62%, 43%);
    margin-bottom: 12px;
}
.top-title-box>h4{
    color: hsl(71, 73%, 54%);
    margin-bottom: 6px;
}
.top-title-box>p{
    color: hsl(218, 22%, 67%)
}
.description{
    margin-bottom: 4px;
}
.bottom-container{
    display: flex;
    max-width: 550px;
}
.left-bottom{
    background-color: hsla(179, 62%, 43%, 0.893);
    width: 50%;
    padding: 25px 22px;
}
.left-bottom>h3{
    margin-bottom: 10px;
    color: white;

    
}
.left-bottom>p{
    margin-bottom: 20px;
    color: white;
}
.price{
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 6px;
    color: white;
}
.price>p{
    color: hsla(203, 44%, 93%, 0.568);
}
.right-bottom{
    background-color: hsla(179, 62%, 43%, 0.578);
    width: 50%;
    padding: 25px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.right-bottom>h3{
    margin-bottom: 10px;


}
ul>li{
    list-style: none;
    color: rgba(255, 255, 255, 0.671);
    font-weight: 400;
}
button{
    width: 100%;
    padding: 15px 10px;
    color: white;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
}

/* Mobile Styles */
@media (max-width: 375px) {
    .container {
        padding: 10px;
    }

    .top-title-box {
        padding: 20px 10px;
    }

    .top-title-box > h1 {
        font-size: 1.5em; 
    }

    .top-title-box > h4 {
        font-size: 1em; 
    }

    .top-title-box > p {
        font-size: 0.9em; 
    }

    
    .left-bottom, .right-bottom {
        width: 100%; 
        padding: 15px; 
    }
    
    .price > h1 {
        font-size: 2em; 
    }
    
    button {
        padding: 12px; 
    }
    .bottom-container {
        flex-direction: column; 
    }
}


